<div id='content_partial_<%= p[:id] %>' class="row circle slide-100">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="col-md-5" data-sr='fade in, over 2s, reset'>

      <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="1">
        <%= image_tag "#{p[:item1]}", class: "img-responsive image-fit" %>
      </a>

  </div>

  <div class="col-md-2" data-sr='fade in, over 2s, reset'>
    <h1 class="text-edit">
      <%= edit_item_text_link p,2 %>
    </h1>
  </div>

  <div class="col-md-5" data-sr='fade in, over 2s, reset'>

      <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="3">
        <%= image_tag "#{p[:item3]}", class: "img-responsive image-fit md-img" %>
      </a>
  </div>
</div>


<!-- <a href="#" class="upload_widget_opener" data-idx="5"><img src="http://res.cloudinary.com/memoryln/image/upload/w_600/l_text:helvetica_50_bold:Click to Upload Photo,g_north,y_20,co_rgb:000000,o_50/v1431026046/test_images/demo.jpg"></a> -->
