

<div class="row collage">
<div data-sr='enter left, move 500px, over 3s, reset'class="col-md-4 p1item1">
    <%= image_tag "img1.jpg", class:"img-responsive img-fit" %>
  </div>
  <div data-sr='enter top, move 500px, over 3s, reset'class="col-md-4 p1item2">
    <%= image_tag "img2.jpg", class:"img-responsive img-fit"%>
  </div>
  <div data-sr='enter right, move 500px, over 3s, reset'class="col-md-4 p1item3">
    <%= image_tag "img3.jpg", class:"img-responsive img-fit" %>
  </div>
</div>
<div class="row collage">
  <div data-sr='enter left, move 500px, over 3s, reset'class="col-md-4 p1item4">
    <%= image_tag "img4.jpg", class:"img-responsive img-fit" %>
  </div>
  <div data-sr='wait 3s and then ease in 500px, reset'class="col-md-4"> <p class="p1item5"> Happy 3rd Birthday! </p>
  </div>
  <div data-sr='enter right, move 500px, over 3s, reset'class="col-md-4 p1item6">
    <%= image_tag "img6.jpg", class:"img-responsive img-fit" %>
  </div>
</div>
<div class="row collage">
  <div data-sr='enter left, move 500px, over 3s, reset'class="col-md-4 p1item4">
    <%= image_tag "img4.jpg", class:"img-responsive img-fit" %>
  </div>
  <div data-sr='enter bottom, move 500px, over 3s, reset'class="col-md-4 p1item5">
    <%= image_tag "img5.jpg", class:"img-responsive img-fit" %>
  </div>
  <div data-sr='enter right, move 500px, over 3s, reset'class="col-md-4 p1item6">
    <%= image_tag "img6.jpg", class:"img-responsive img-fit" %>
  </div>
</div>
