<div id='content_partial_<%= p[:id] %>', class="full-height story">

  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="row block spacer">
    <div class='centered'>
      <h1 data-sr="" class="text-edit">
        <%= edit_item_text_link p,1 %>
      </h1>
      <h2 data-sr="wait 1.0s, over 2.0s, scale up 40%, opacity 0.0, reset" class="text-edit">
        <%= edit_item_text_link p,2 %>
      </h2>
      <h1 class="slide-right text-edit" data-sr="wait 2.0s, enter left, ease 500px, over 3.0s, scale up 40%, opacity 0.0, reset">
        <%= edit_item_text_link p,3 %>
      </h1>
      <div class="" data-sr="wait 2.5s, enter right, ease 500px, over 3.0s, scale up 30%, reset">
        <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="4">
          <%= image_tag "#{p[:item4]}", class: 'img-responsive image-fit sm-img' %>
        </a>
      </div>
    </div>
  </div>
</div>
