<div id='content_partial_<%= p[:id] %>' class="row two-for-two">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="row">
  <!--   <div class="col-left-third">
      <div class="" data-sr="enter left, hustle 20px, move 600px, spin -150deg, over 3.0s, scale down 30%, reset, wait 1.0s">
        <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="1">
          <%= image_tag "#{p[:item1]}", class: 'img-rounded img-responsive img-fit  vert-align' %>
        </a>
      </div>
    </div> -->
    <div class="col-md-4 col-md-offset-4">
      <div class="" data-sr="move 50px, roll 1080deg, over 6s, scale up 100%, reset">
        <a href="#" class="upload_widget_opener vertical-center" data-idx="<%= p.id %>" data-item="2">
          <%= image_tag "#{p[:item2]}", class: 'img-responsive image-fit' %>
        </a>
      <!-- </div> -->
    </div>
    <!-- <div class="col-right-third">
      <div class="" data-sr="enter right, hustle 20px, move 600px, spin 150deg, over 3.0s, scale up 30%, reset, wait 1.0s">
        <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="3">
          <%= image_tag "#{p[:item3]}", class: 'img-rounded img-responsive img-fit  right' %>
        </a>
      </div>
    </div> -->
  </div>
</div>

