<div id='content_partial_<%= p[:id] %>' class="row">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div data-sr="enter left, hustle 20px, move 100px, spin -30deg, over 1.0s, scale up 20%, reset" class="row two-for-two">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <h2 class='two-for-two-h2 text-edit' data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, reset">
          <%= edit_item_text_link p,1 %>
        </h2>
        <h3 data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, wait 1.0s, reset" class="text-edit">
          <%= edit_item_text_link p,2 %>
        </h3>
        <h3 data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, wait 1.5s, reset" class="text-edit">
          <%= edit_item_text_link p,3 %>
        </h3>
        <div class='lg-square-img' data-sr="enter right, hustle 20px, move 600px, spin -90deg, over 3.0s, scale down 30%, reset">
          <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="4">
            <%= image_tag "#{p[:item4]}", class: 'img-responsive image-fit' %>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="xxl-img" data-sr="enter bottom, hustle 20px, move 600px, spin 150deg, over 3.0s, scale up 30%, reset">
          <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="5">
            <%= image_tag "#{p[:item5]}", class: 'img-rounded img-responsive img-fit'  %></div>
          </a>
      </div>
    </div>
  </div>
</div>
