<div id='content_partial_<%= p[:id] %>' data-sr="enter top, hustle 20px, move 100px, spin -30deg, over 1.0s, scale up 20%, reset" class="row two-for-two">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>">X</div>
  <div class="row">
    <div class="col-left-half">
      <div class="" data-sr="enter right, opacity 0.5, move 600px, spin -150deg, over 3.0s, scale down 30%, reset">
        <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="1">
          <%= image_tag "#{p[:item1]}", class: 'img-rounded img-responsive img-fit  vert-align' %>
        </a>
      </div>
    </div>
    <div class="col-right-half">
      <div class="" data-sr="enter left, opacity 0.5, move 600px, spin 150deg, over 3.0s, scale up 30%, reset">
        <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="2">
          <%= image_tag "#{p[:item2]}", class: 'img-rounded img-responsive img-fit  right' %>
        </a>
      </div>
    </div>
  </div>
</div>
