<% p = @partials.find { |i| i[:path] == 'two_for_three' } %>
<div class="row">
<div data-sr="enter left, hustle 20px, move 100px, spin -30deg, over 1.0s, scale up 20%, reset" class="row two-for-two">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
      <h2 class='two-for-two-h2' data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, reset">
        <%= p[:item1] %>
      </h2>
      <h3 data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, wait 1.0s, reset">
        <%= p[:item2] %>
      </h3>
      <h3 data-sr="enter left, hustle 20px, move 300px, spin -30deg, over 3.0s, scale up 20%, wait 1.5s, reset">
        <%= p[:item3] %>
      </h3>
      <div class='lg-square-img' data-sr="enter right, hustle 20px, move 600px, spin -90deg, over 3.0s, scale down 30%, reset">
        !!!UPDATE THIS SLIDE!!!
        <%= image_tag "babypic1.jpg", class: 'img-responsive image-fit' %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="xxl-img" data-sr="enter bottom, hustle 20px, move 600px, spin 150deg, over 3.0s, scale up 30%, reset"><%= image_tag "babypic2.jpg", class: 'img-rounded img-responsive img-fit'  %></div>
    </div>
  </div>
</div>
</div>