<div id='content_partial_<%= p[:id] %>', class="full-height">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="row block">
    <div class='centered'>
      <h1 data-sr="enter bottom, ease 20px, move 300px, over 6.0s, scale up 40%, opacity 0.0, reset" class="text-edit big-text">
        <%= edit_item_text_link p,1 %>
      </h1>
      <h1>
        <span data-sr="enter left, ease 20px, move 300px, over 5.5s, scale up 40%, opacity 0.0, reset, wait 1.0s" class="text-edit" >
          <%= edit_item_text_link p,2 %>
        </span>
        <span data-sr="wait 2.0s, enter top, ease 20px, move 300px, over 7.5s, scale up 40%, opacity 0.0, reset" class="text-edit">
          <%= edit_item_text_link p,3 %>
        </span>
        <span data-sr="wait 5.5s, enter right, ease 20px, over 3.0s, move 300px, scale up 40%, opacity 0.0, reset" class="text-edit">
          <%= edit_item_text_link p,4 %>
        </span>
        <br>
        <br>
        <h3 data-sr="wait 9s, ease 20px, over 1.0s, scale up 40%, opacity 0.0, reset" class="text-edit">
          <%= edit_item_text_link p,5 %>
        </h3>
      </h1>
    </div>
  </div>
</div>

