<div class="sidebar">
<p><%= link_to "Preview Page", @page %>
<h4 class="sidebarTitle">Choose background:</h4>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Backgrounds
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% @backgrounds.each do |b| %>
      <li role="background">
        <%= form_for @page, method: "PATCH", class: "form-inline" do |f| %>
          <%= f.hidden_field :page_id, value: @page.id %>
          <%= f.hidden_field :background_id, value: b.id %>
          <%= f.submit "#{b.bg_name}", class: "btn-no-style" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<h4 class="sidebarTitle">Choose the order:</h4>
  <ul id="list1" class="pageSort">
    <% @partials.each do |p| %>
    <li id="partial_<%=p.partial.id %>" class="pointerSidebar">
      <%= p.partial.name %>
      <span data-idx="<%= p.partial.id %>" class="glyphicon glyphicon-remove pull-right pointer remove-partial-sidebar"></span>
    </li>
    <% end %>
  </ul>
  <button class="add-partial-btn" data-toggle="modal" data-target="#newPartialModal"><span class="glyphicon glyphicon-plus"></span></button>
</div>

<!-- Render view -->
<div>
<div class="content <%= @current_background.bg_class %> fix-width">
  <ul id="list2" class="pageSort edit-partial-list">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>

    <% end %>
  </ul>
</div>

<!-- Partials Add Block Modal -->

<div class="modal fade" id="newPartialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Block</h4>
      </div>
      <div class="modal-body">
        <table>
        <% @add_partial.each do |p| %>
          <tr>
            <td>
              <strong><%= p.name %></strong>
            </td>
            <td>
              <%= form_for @partial, url: "/partials", method: "POST", class: "form-inline" do |f| %>
                <%= f.hidden_field :page_id, value: @page.id %>
                <%= f.hidden_field :partial_id, value: p.id %>
                <%= f.submit "Add", class: "btn btn-primary pull-right" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Partials Text Modal -->

<div class="modal fade" id="editItemTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


